@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    color: #204051;
    height: 100vh;
}

ol,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 700;
}

/* color: #3B6978; greenish color */

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 2;
}

.shaded {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);

}

.container {
    position: relative;
}

.backgr-img {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
        url(./images/Beograd_-_Gradjevinski_fakultet1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* HEADER & FOOTER */

header {
    padding: 20px 0;
    position: relative;
    top: 0;
    width: 100%;
}

.headline {
    margin: 0 30px;
    display: flex;
    justify-content: center;
}

header h3 {
    font-size: 24px;
    line-height: 125%;
    text-align: center;
}

footer {
    padding: 10px 0;
    position: relative;
    width: 100%;
}

.copyright {
    margin: 0px 30px;
    font-size: 12px;
    text-align: center;
}



/* MAIN PART */

.main-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    position: relative;

    margin: 0 30px;
    text-align: center;
}

input {
    display: none;
}

label {
    display: inline-block;

    width: max-content;
    height: 25px;
    padding: 0 5px;
}

.main-part>label:hover {
    color: #3B6978;
    cursor: pointer;
    font-weight: bold;
}

input:checked+label {
    color: #3B6978;
    font-weight: bold;
    border-bottom: #3B6978 solid 2px;
}

section {
    display: none;
}

#home:checked~section.home,
#services:checked~section.services,
#gallery:checked~section.gallery,
#contact:checked~section.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gallery:checked~section.gallery {
    overflow: hidden;
    height: auto;
}

.home .sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-part h1 {
    font-size: 32px;
    width: 260px;
    line-height: 125%;
}

.main-part p {
    line-height: 150%;
}

.home {
    align-items: center;
    gap: 20px;
}


.home-image {
    height: 230px;
    width: 295px;
}

.home-image img {
    height: 230px;
    width: 100%;
    /* object-position: center; */
    object-fit: cover;
    border-radius: 30px;
    border: #84A9AC 2px solid;
}


button {
    width: 160px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    background-color: #204051;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: "Jost", sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: #ffffff;
}

button i {
    color: #CDA274;
}

button:hover {
    cursor: pointer;
}

.logos {
    height: max-content;
    width: auto;
    margin: 10px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.logos img {
    height: 30px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}



/* SERVICES */

.services>.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.services .sub-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.single-service {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;

    background-color: rgba(233, 242, 244, 0.2);
    border: #84A9AC 2px solid;
    border-radius: 20px;
    padding: 10px;
}

.single-service:hover {
    background-color: rgba(233, 242, 244, 0.8);
}

.service-description-short {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;

}

.service-description-long {
    /* position: sticky;
    top: 90px;
    left: 15px;
    right: 15px;
    overflow: hidden; */

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px 20px;
    margin-bottom: 20px;

    background-color: #E9F2F4;
    border: #84A9AC 2px solid;
    border-radius: 30px;
}

h4 {
    font-size: 20px;
    line-height: 150%;
}

.read-more {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.read-more:hover {
    cursor: pointer;
    text-decoration: underline;
}



/* GALERIJA */

.galerija {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
    overflow-y: hidden;
}

.kolona {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.large,
.large img {
    height: 350px;
}

.small,
.small img {
    height: 250px;
}

.single-pic {
    width: 280px;

    border-radius: 30px;
    border: #84A9AC 2px solid;
}

.single-pic img {
    width: 100%;
    /* object-position: center; */
    object-fit: cover;
    border-radius: 28px;
}



/* CONTACT */

.contact>.sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* width: 280px; */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.sendMail {
    margin-top: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    width: 295px;
    background-color: rgba(233, 242, 244, 0.8);
    border: #84A9AC 2px solid;
    border-radius: 10px;
    padding: 8px 0 5px 0;
}

.input-container.message {
    align-items: flex-start;
    border-radius: 15px;
}

.contact label {
    text-align: left;
    padding-left: 8px;
}

.contact textarea,
.contact input {
    display: inline-block;
    border: none;
    background: transparent;
    width: 80%;

    font-size: 16px;
    font-family: "Jost", sans-serif;
}

.contact textarea {
    width: 100%;
    padding: 0 8px;
}


.contact-info {
    width: 295px;
    /* height: 250px; */
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 0px;

    background-color: rgb(233, 242, 244, 0.8);
    border: #84A9AC 2px solid;
    border-radius: 30px;
}

.contact-info .content {
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.contact-info .sub-content {
    padding: 0 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

a {
    color: #204051;
}

.icon {
    height: 45px;
    width: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #CDA274;
    background-color: #ffffff;
    border-radius: 50%;
}

.icon i {
    font-size: 18px;
}

.social-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}



@media screen and (min-width:426px) {

    header h3 {
        font-size: 30px;
    }

    #home:checked~section.home,
    #services:checked~section.services,
    #gallery:checked~section.gallery,
    #contact:checked~section.contact {
        padding-top: 5px;
    }

    label {
        width: 80px;
        /* font-size: 20px; */
    }

    .home {
        gap: 20px;
    }

    .main-part {
        margin: 0 70px;
    }

    .main-part h1 {
        font-size: 42px;
        width: 300px;
    }

    .home-image {
        width: 380px;
        height: 300px;
    }

    .home-image img {
        height: 300px;
    }

    button {
        width: 200px;
        height: 60px;
        font-size: 20px;
    }

    .logos {
        height: max-content;
        /* width: 450px; */
        gap: 30px;
    }

    .logos img {
        height: 45px;
    }



    /* SERVICES */

    .main-part .services h1 {
        width: max-content;
    }

    .services .sub-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .single-service {
        width: 280px;
        height: 230px;
    }

    .service-description-short {
        height: 230px;
    }


    /* GALLERY */

    .large,
    .large img {
        height: 380px;
    }

    .small,
    .small img {
        height: 200px;
    }



    /* CONTACT */

    .contact h1,
    form {
        width: 450px;
    }

    form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }


}



@media screen and (min-width:768px) {
    .contact h1 {
        width: 550px;
    }

    form {
        width: 630px;
    }

    .input-container.message {
        width: 600px;
    }
}


@media screen and (min-width:1024px) {

    .main {
        height: 100vh;
        justify-content: flex-start;
    }

    footer {
        position: fixed;
        bottom: 0;
    }

    .main-part {
        display: block;
        max-width: 1100px;
    }

    header {
        background: transparent;
    }

    #home:checked~section.home,
    #services:checked~section.services,
    #gallery:checked~section.gallery,
    #contact:checked~section.contact {
        padding-top: 20px;
        margin: 0;
    }

    #home:checked~section.home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 60px 200px;
    }

    .home .logos {
        grid-row: 3;
        grid-column: 1/3;
    }

    .home .home-image {
        grid-row: 1/3;
        grid-column: 2;
    }

    .home .sub-content {
        align-items: flex-start;
        text-align: left;
        gap: 20px;
        width: 350px;
    }

    .home-image {
        width: 450px;
        height: 350px;
    }

    .home-image img {
        height: 350px;
    }



    /* SERVICES */

    .services>.main-content {
        margin-bottom: 20px;
    }

    .single-service {
        width: 250px;
    }


    /* GALLERY */

    .galerija {
        justify-content: center;
    }


    /* CONTACT */

    .contact>.sub-content {
        display: grid;
        grid-template-columns: 300px 600px;
        grid-template-rows: 100px 330px;
        align-items: start;
    }

    .contact .h1-div {
        grid-row: 1;
        grid-column: 1/3;

        text-align: center;
        display: flex;
        justify-content: center;
    }

    form {
        grid-row: 2/3;
        grid-column: 2/3;

        width: 600px;
        gap: 20px;
        justify-content: flex-end;
    }

    .input-container {
        width: 285px;
    }

    .sendMail {
        margin: 0;
    }

    .contact-info {
        grid-column: 1/3;
        grid-row: 2/3;

        justify-content: center;

        height: 256px;
    }

}

@media screen and (min-width:1440px) {
    body {
        font-size: 20px;
    }

    h4 {
        font-size: 24px;
    }

    .main-part {
        padding-top: 20px;
        margin: 0 auto;
    }

    label {
        margin: 0 10px;
        font-size: 22px;
        height: 35px;
    }


    /* HOME */

    #home:checked~section.home {
        padding-top: 80px;
        grid-template-rows: 30vh 10vh 30vh;
        column-gap: 20px;
    }

    .main-part h1 {
        font-size: 50px;
        width: 400px;
        line-height: 150%;
    }

    .home .sub-content {
        width: 450px;
    }

    .home-image {
        width: 500px;
        height: 400px;
    }

    .home-image img {
        height: 400px;
    }

    button {
        height: 80px;
        width: 220px;
        font-size: 22px;
        border-radius: 30px;
    }



    /* SERVICES */

    .services .sub-content {
        gap: 30px;
    }

    .single-service {
        height: 300px;
        width: 280px;
    }

    .service-description-short {
        height: 300px;
    }

    .read-more {
        font-size: 16px;
    }



    /* GALLERY */

    .single-pic {
        width: 330px;
    }

    .large,
    .large img {
        height: 430px;
    }

    .small,
    .small img {
        height: 300px;
    }



    /* CONTACT */

    .contact>.sub-content {
        grid-template-rows: 1fr 3fr;
    }

    .contact h1 {
        width: 650px;
    }

    .contact-info {
        height: 290px;
    }

    .contact label {
        font-size: 20px;
        align-content: center;
        margin: 0;
    }

    .contact textarea,
    .contact input {
        font-size: 18px;
    }
}