@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    color: #204051;
    height: 100vh;
}

ol,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 700;
}

/* color: #3B6978; greenish color */



.container {
    /* padding: 20px 0; */
    /* height: 100vh; */
    /* overflow: hidden; */

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

    /* background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
        url(./images/Beograd_-_Gradjevinski_fakultet1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto; */
}

/* HEADER & FOOTER */

header {
    background-color: #a3e6cf;
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.headline {
    margin: 0 30px;
    display: flex;
    justify-content: center;
}

header h3 {
    font-size: 24px;
    line-height: 125%;
    text-align: center;
}

footer {
    background-color: #a3e6cf;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.copyright {
    margin: 0px 30px;
    font-size: 12px;
    text-align: center;
}


/* MAIN PART */

.main-part {
    margin: 0 40px;
    text-align: center;
}

input {
    display: none;
}

label {
    position: sticky;
    background-color: #a3e6cf;
    top: 100px;
    display: inline-block;
    width: fit-content;
    height: 25px;
    padding: 0 5px;
}

label:hover {
    color: #3B6978;
    cursor: pointer;
    font-weight: bold;
}

input:checked+label {
    color: #3B6978;
    font-weight: bold;
    /* text-decoration: underline solid 2px; */
    border-bottom: #3B6978 solid 2px;
}

section {
    display: none;
}

#home:checked~section.home,
#services:checked~section.services,
#gallery:checked~section.gallery,
#contact:checked~section.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px 0;
}

.home .sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main-part h1 {
    font-size: 32px;
    width: 260px;
    line-height: 125%;
}

.main-part p {
    line-height: 150%;
}

.home {
    align-items: center;
    gap: 20px;
}


.home-image {
    height: 230px;
    width: auto;
}

.home-image img {
    height: 230px;
    width: 100%;
    /* object-position: center; */
    object-fit: cover;
    border-radius: 30px;
    border: #84A9AC 2px solid;
}


button {
    width: 160px;
    height: 50px;
    border-radius: 20px;
    border: 0;
    background-color: #204051;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-family: "Jost", sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    color: #ffffff;
}

button i {
    color: #CDA274;
}

.logos {
    height: 30px;
    width: auto;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.logos img {
    height: 30px;
    width: 100%;
    object-fit: contain;
}




.services .sub-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.single-service {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

.service-description-short {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

h4 {
    font-size: 20px;
    line-height: 150%;
}

.read-more {
    font-size: 14px;
    font-weight: 600;
}